/*==================================================*/
/* ==== custom tags ===*/
/*==================================================*/
a.tag[data-ref] {
    align-items: center;
    background: var(--ls-primary-background-color);
    border-radius: 1rem 1rem 1rem 1rem;

    display: inline-flex;
    font-size: 0.8rem;
    font-weight: 500;
    letter-spacing: 0.05em;
    line-height: 0.8rem;
    padding: 0.2rem 0.7rem 0.2rem 0.5rem;
    transition: .3s;
    white-space: nowrap;
}

a.tag[data-ref]:hover {
  filter: brightness(50%) !important;;
  background: snow;
}

a.tag[data-ref="a"] {
  color: white;
  background: Red !important;
}

a.tag[data-ref="b"] {
  color: white;
  background: Gray !important;
}

a.tag[data-ref="c"] {
  color: white;
  background: #299764 !important;
}

a.tag[data-ref="projects"] {
  color: var(--ls-primary-background-color);
  background: orange !important;
}

a.tag[data-ref="areas"] {
  color: white;
  background: SlateBlue !important;
}

a.tag[data-ref="resources"] {
  color: var(--ls-primary-background-color);
  background: Pink !important;
}

a.tag[data-ref="goals"] {
  color: var(--ls-primary-background-color);
  background: Violet !important;
}

a.tag[data-ref="important"] {
  color: var(--ls-primary-background-color);
  background: tomato !important;
}

a.tag[data-ref="project-3"] {
  color: var(--ls-primary-background-color);
  background: Lime !important;
}

a.tag[data-ref="project-4"] {
  color: var(--ls-primary-background-color);
  background: Cyan !important;
}

a.tag[data-ref="project-5"] {
  color: white;
  background: Blue !important;
}

a.tag[data-ref="project-6"] {
  color: white;
  background: Black !important;
}

a.tag[data-ref="project-7"] {
  color: white;
  background: Olive !important;
}

a.tag[data-ref="project-8"] {
  color: white;
  background: DodgerBlue !important;
}

a.tag[data-ref="project-9"] {
  color: white;
  background: Green !important;
}

a.tag[data-ref="project-10"] {
  color: white;
  background: DarkBlue !important;
}

a.tag[data-ref="project-11"] {
  color: var(--ls-primary-background-color);
  background: Lime !important;
}

a.tag[data-ref="project-12"] {
  color: white;
  background: Purple !important;
}

a.tag[data-ref="project-13"] {
  color: var(--ls-primary-background-color);
  background: Yellow !important;
}

a.tag[data-ref="project-14"] {
  color: white;
  background: Maroon !important;
}

a.tag[data-ref="project-15"] {
  color: var(--ls-primary-background-color);
  background: white; 
}

